<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594510707842-bi17p4490t1m643fgd92hj1gdtsjrg72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594510707842-bi17p4490t1m643fgd92hj1gdtsjrg72</string>
	<key>API_KEY</key>
	<string>AIzaSyBDmBltIvaM4O93qcbLL2_SqfkXL3W34tg</string>
	<key>GCM_SENDER_ID</key>
	<string>594510707842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cuenca.hjgc.nQueesPuzzle</string>
	<key>PROJECT_ID</key>
	<string>n-queens-puzzle-924c8</string>
	<key>STORAGE_BUCKET</key>
	<string>n-queens-puzzle-924c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594510707842:ios:5a8e89c32f77bc7044489b</string>
	<key>DATABASE_URL</key>
	<string>https://n-queens-puzzle-924c8.firebaseio.com</string>
</dict>
</plist>